$base-bg: #EAEDF1;
$header-bg: #000;
$filter-bg: #F9FAFA;
$launches-bg: #FFF;

$text-light: #FFF;
$text-medium: #7B8B8D;
$text-dark: #374047;

$btn-primary: #43BBA6;

$link-btn-text: #7C8A8D;
$link-btn-border: #E9ECEF;
$error-text: #EC5F7B;


$launch-item-border: #F0F2F4;

$margin-lg: 60px;
$margin-m: 20px;